.resultContainer{
    text-align: center;
    margin: 0 auto;
    width:100%
}

.resultContainer > ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.resultContainer > ul > li {
    margin: 1rem;
}